<launch>

    <arg name="host" default="192.168.0.250" />
    <arg name="frame_id" default="laser_scanner" />
    <arg name="frame_id_source" default="robot_arm_flange" />
    <arg name="transform" default="0.025 -0.025 -0.586 0.0 0.0 0.0" /> <!-- x y z roll pitch yaw -->
    <!-- 3.14159265359 -->

    <arg name="pub_transform" default="true"/>
    <arg name="pub_from" default="robot_map" />
    <arg name="pub_to" default="robot_base_footprint" />
    <arg name="pub_topic" default="/robot_pose" />

    <node pkg="tf" type="static_transform_publisher" name="static_transform_pub_baumer" args="$(arg transform) $(arg frame_id_source) $(arg frame_id) 100" />

    <param name="host" value="$(arg host)" />
    <param name="frame_id" value="$(arg frame_id)" />
    <node pkg="baumer_ox_scanner" type="scanner_pointcloud2" name="scanner_pointcloud2">
    </node>

    <node pkg="baumer_ox_scanner" type="pose_publisher" name="pose_publisher" if="$(arg pub_transform)">
        <param name="from_frame" value="$(arg pub_from)" />
        <param name="to_frame" value="$(arg pub_to)" />
        <param name="rate" value="10" />
        <param name="pose_topic" value="$(arg pub_topic)" />
        <param name="is_stamped" value="true" />
    </node>

</launch>